<section class="contact" id="contact-#{contact.id}">
  <h3><%= link_to h(contact.name), contact %></h3>
  <div class="topic-count">⭐️ <%= contact.topics.size %></div>
  <ul class="topics inline tags">
    <%= contact.topics.map { |t| content_tag(:li, h(t.name)) }.join.html_safe %>
  </ul>
</section>
