<h1>All The Experts</h1>

<%= render @contacts %>

<p class="center">
  Don't see the expert you're looking for? Add one now.
  <br>
  <%= link_to  new_contact_path, class: 'btn btn-large waves-effect waves-light' do %>
    <i class="material-icons left">person_add</i>
    Add Expert
  <% end %>
</p>
